#header{
    background-color: #39574C;
      padding-left: 0%;
      padding-right:0%;
     
    
}

.caixa{
                width: 13%;
                height 100px;
                background-color:bisque;
                border: 1px solid #CCC;
                float: left;
                margin-left: 5%;
            }

.div1{
    background-color: darkslategray;
    border: 1px solid #000;
    color: #fff;
    float: left;
    
}

#main{
    background-color: darkslategray;
    
}