body{
    font-family: 'Bruno Ace SC', cursive;
    
}

.lista-jogos-esquerda{
    background-color: #343a40;
    color: #fff;
}

.navbar-inverse {
  background-color: #333;
  color: #fff;
}

.btn-group {
  display: inline-flex;
  margin: 0;
}

.pagination-container.dark-theme .page-item.disabled .page-link,
.pagination-container.dark-theme .page-item.disabled .page-link:hover,
.pagination-container.dark-theme .page-item.disabled .page-link:focus {
  color: #999; /* cor do texto para itens desativados */
  background-color: #222; /* cor de fundo para itens desativados */
  border-color: #444; /* cor da borda para itens desativados */
}

.pagination-container.dark-theme .page-item .page-link,
.pagination-container.dark-theme .page-item .page-link:hover,
.pagination-container.dark-theme .page-item .page-link:focus {
  color: #fff; /* cor do texto para itens ativos */
  background-color: #444; /* cor de fundo para itens ativos */
  border-color: #666; /* cor da borda para itens ativos */
  box-shadow: none; /* remova a sombra para itens ativos */
}

.pagination-container.dark-theme .page-item.active .page-link {
  z-index: 1; /* mover o item ativo para a frente */
  color: #000; /* cor do texto para o item ativo */
  background-color: #fff; /* cor de fundo para o item ativo */
  border-color: #666; /* cor da borda para o item ativo */
  box-shadow: none; /* remova a sombra para o item ativo */
}

/* Estilos para o rodapé */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 50px 0;
}

footer a {
  color: #f8f9fa;
}

/* Estilos para o texto de direitos autorais */
footer p {
  font-size: 14px;
  line-height: 1.5;
}

/* Estilos para o fundo do rodapé */
footer .bg-dark {
  background-color: #343a40 !important;
}

/* Estilos para os links do rodapé */
footer .text-white a:hover {
  color: #f8f9fa;
}


