#header{
    background-color: #39574C;
      padding-left: 0%;
      padding-right:0%;
     
    
}

.caixa{
                width: 13%;
                height 100px;
                background-color:bisque;
                border: 1px solid #CCC;
                float: left;
                margin-left: 5%;
}

.div1{
    background-color: #39574C;
    color: #fff;
    float: left;
    
}

.div2{
    background-color: #39574C; 
    
}

.div3{
    background-color: #345240;
    
}

main{
     background-color: #343A40;
    
}

.wt{
    color: #fff;
    
}

.lista-jogos-esquerda{
    background-color: #344A40;
    color: #fff;
}


.fonte{
    font-family: 'Bruno Ace SC', cursive;
    
    }

.pagination-dark .page-link {
  color: #28a745;
  background-color: #343a40;
  border-color: #343a40;
}

.pagination-dark .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #39574C;
  border-color: #28a745;
}

.pagination-dark .page-item.disabled .page-link {
  color: #6c757d;
  background-color: #343a40;
  border-color: #343a40;
}

.footer{
    background-color: #212528;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 50px 0;
      
}

.hr2{
    background-color: #BEBEBE;
    
}

.divjogo{
    color: white;
    float: left;
    background-color: #343A40;


}

